<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/si"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width_in_dp"
            android:value="760" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1334" />

        <activity android:name=".mvp.view.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.view.activity.MainActivity" />
        <activity android:name=".mvp.view.activity.MyMessageActivity" />
        <activity android:name=".mvp.view.activity.MyAttentionActivity" />
        <activity android:name=".mvp.view.activity.MyRecordActivity" />
        <activity android:name=".mvp.view.activity.MyFeedDBActivity" />
        <activity android:name=".mvp.view.activity.MyVersionActivity" />
        <activity android:name=".mvp.view.activity.RegActivity" />
        <activity android:name=".mvp.view.activity.StartActivity" />
        <activity android:name=".mvp.view.activity.GuideActivity" />
        <activity android:name=".mvp.view.activity.MovieDetailActivity" />
        <activity android:name=".mvp.view.activity.CinemaActivity" />
        <activity android:name=".mvp.view.activity.CinemaListActivity" />
        <activity android:name=".mvp.view.activity.ScheduleListActivity" />
        <activity android:name=".mvp.view.activity.MovieListActivity" />
        <activity android:name=".mvp.view.activity.MyFeedDBSuccessActivity"></activity>
    </application>

</manifest>